.container {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.user {
    display: inline-block;
    width: 12em;
    height: 12em;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.info {
    margin: 3em;
    margin-bottom: 2em;
    padding: 2em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

input {
    border: 1px lightgray solid;
    border-radius: 5px;
    margin: 5px 0px 0px 5px;
    padding: 8px;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    /* padding: 2em 0; */
}

.delete-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.delete-modal {
    background-color: #fefefe;
    position: fixed;
    top:40%;
    left: 35%;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.edit {
    background-color: #3498db;
    color: white;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 10px 25px;
    margin-right: 1em;
    font-size: 20px;
}

.save {
    background-color: rgb(106, 158, 106);
}

.cancel {
    background-color: rgb(192, 192, 192);
}

.delete {
    background-color: #e05959;
}