<div class="main">
    <app-navigation></app-navigation>

    <div class="container">
        <div>
            <h2>Users List</h2>
        </div>

        <div class="user-table">
            <table>
                <thead>
                    <tr>
                        <th style="padding-left: 2em;">#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <td style="padding-left: 2em;">{{ user.id }}</td>
                        <td class="name">{{ user.firstname }}</td>
                        <td class="name">{{ user.lastname }}</td>
                        <td class="email">{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <button type="button" class="edit">Edit</button>
                        </td>
                        <td style="padding-right: 2em;">
                            <button type="button" class="delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <button type="button" class="add" (click)="addClicked()">Add User</button>
        </div>

        <div *ngIf="add" class="addForm">
            <form class="form" [formGroup]="addUserForm" (ngSubmit)="addUser()">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" formControlName="first_name"/>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" formControlName="last_name"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password"/>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select formControlName="role">
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                    <!-- <input type="text" formControlName="role"/> -->
                </div>
                <div class="form-group center">
                    <button class="btn" type="submit" style="margin-left: 1em;">Add</button>
                </div>
                <div class="form-group center">
                    <button class="btn" type="button" style="background-color: rgb(192, 192, 192);" (click)="resetClicked()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
